body {
    margin: 10px;
    padding: 10px;
    background: rgb(110, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: -300px;
  }

.dropbtn {
    text-align: center;
    font-size: 16px;
    background: rgb(65, 62, 62);
    color: #fff;
    padding: 10 px;
    left: 20px;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropbtn:hover{
    background: rgb(141, 138, 138);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(110, 106, 106);
    width: 150px;
    font-size: 10px;
    z-index: 1;
}
  
.dropdown-content a {
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: rgb(141, 138, 138);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(141, 138, 138);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.bttn {
    position: absolute;
    margin-left: 170px;
    font-size: 16px;
    text-align: center;
    background: rgb(65, 62, 62);
    color: #fff;
    padding: 10 px;
    left: 20px;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.bttn:hover{
    background: rgb(141, 138, 138);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.chckbx{
    position: absolute;
    display: inline-block;
    margin-left: 40px;
    margin-top: 12.5px;
}

.checkbx{
    background: rgb(65, 62, 62);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border: none;
    width: 200px;
    height: 25px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.checkbx:hover {
    background: rgb(110, 107, 107);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.cbx{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;;
}

.test {
    display:inline-block;
}

.test input:checked ~ .checkbx {
    background: rgb(141, 138, 138);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.test input:checked ~ .checkbx:hover {
    background: rgb(110, 107, 107);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);