body {
    margin: 10px;
    padding: 10px;
    background: rgb(110, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}
  

/* Dropdown Liste */
.dropdown {
    position: absolute;
    display: inline-block;
  }

.dropbtn {
    text-align: center;
    font-size: 16px;
    margin-left: 170px;
    background: rgb(110, 106, 106);
    color: #fff;
    padding: 10 px;
    left: 20px;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(110, 106, 106);
    width: 150px;
    font-size: 10px;
    z-index: 1;
}
  
.dropdown-content a {
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: rgb(110, 106, 106);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(110, 106, 106);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* Aufteilen Button */
.spread {
    position: absolute;
    text-align: center;
    margin-top: 70px;
    margin-left: 170px;
    background: rgb(110, 106, 106);
    color: #fff;
    padding: 10 px;
    left: 20px;
    width: 150px;
    height: 50px;
    border : none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.spread:hover{
    background: rgb(143, 136, 136);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.spread.active{
    background: rgb(110, 106, 106);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.spread.active:hover{
    background: rgb(143, 136, 136);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
}

/* Checkboxen */
.chckbx{
    position: absolute;
    display: inline-block;
}

.checkbx{
    background: rgb(110, 106, 106);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border: none;
    width: 170px;
    height: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    margin : 5px;
}

.checkbx:hover{
    background: rgb(143, 136, 136);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.checkbx.active {
    background: rgb(110, 106, 106);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.checkbx.active:hover {
    background: rgb(143, 136, 136);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* kann gelöscht werden */

.grafik {
    margin-top:100px;
    background: rgb(110, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    /* display: inline-block; */
}

/* In Box */
.card{
    border: none;
    background: rgb(110, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

.card-header{
    position: absolute;
    height: 100px;
    background: rgb(110, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    border: none;
}

.text-center{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    text-align: center;
    color: #fff;
}

.card-footer{
    border: none;
    background: rgb(110, 106, 106);
}